<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.izaguirre.mascotas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MiApplication"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mascotas">
        <activity
            android:name=".actividad.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividad.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/NuevaBarra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".actividad.SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/NuevaBarra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".actividad.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/Base.App.Theme.NoTitle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".actividad.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".actividad.QRCodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/NuevaBarra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>